body {
	font-family:	Arial,SimSun ;
	font-size:		12px;
}

body #sLoading {
    background: none repeat scroll 0% 0% #FFF;
    opacity: 0.6;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 1001;
    display: none;
}

body #sLoading img {
    position: absolute;
}

img { border:0; }

#home-title {
	width: 950px;
	background-image: linear-gradient(#2FA6EE, #2280B9);
	height: 50px;
	line-height: 50px;
	font-size: 28px;
	font-weight: bold;
	color: white;
	padding-left: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

table td {
	font-family: Arial,SimSun;
	font-size:12px;
}

table.detail-table td {
	height:		40px;
	line-height:40px;
}

table.admin-table{
	border:1px solid #c3c3c3;
}

table.admin-table thead th, 
table.admin-table thead td {
	color:			white;
	font-weight:	bold;
	border:			none;
	background:		#409CD6;
	height:			40px;
	line-height:	40px;
	padding:		5px;
}

table.admin-table tbody {
	border:1px solid #c3c3c3;
}

table.admin-table tbody td {
	border-right: 1px solid #c3c3c3;
	border-bottom: 1px solid #c3c3c3;
}

.normal-btn {
	border:				1px solid #CCCCCC;
	border-radius:		3px 3px 3px 3px;
	background-color:	white;
	cursor:				pointer;
	color:				#666666;
}

.normal-text {
	background: white;
	border:		1px solid #CCCCCC;
	color:		#545454;
	height:		20px;
	line-height:20px;
}

.login-title {
	text-align:	right;
	float:		left;
	height:		20px;
	line-height:20px;
	width:		70px;
}

#menuUl {
	line-height: 30px;
	margin-top: 20px;
}

a.link1 {
	color: #545454;
	text-decoration:none;
}

a.link1:visited {
	color: #545454;
	text-decoration:none;
}

a.link1:focus {
	color: #545454;
	text-decoration:none;
}

a.link1:hover {
	color: #CC5A22;
	text-decoration:none;
}

a.link1:link {
	color: #545454;
	text-decoration:none;
}

a.link2 {
	color: #0076B9;
	font-weight:bold;
	text-decoration:none;
}

a.link2:visited {
	color: #0076B9;
	font-weight:bold;
	text-decoration:none;
}

a.link2:focus {
	color: #0076B9;
	font-weight:bold;
	text-decoration:none;
}

a.link2:hover {
	color: #0076B9;
	font-weight:bold;
	text-decoration:none;
}

a.link2:link {
	color: #0076B9;
	font-weight:bold;
	text-decoration:none;
}

#page-title {
	width:			100%;
	background:		url('../images/ic_tit.gif') no-repeat;
	padding-left:	30px;
	height:			20px;
	line-height:	20px;
	margin-top:		25px;
	font-weight:	bold;
}

#contents-wrapper {
	margin-left:30px;
}

/*-- Numeric page navigator --*/
A:link.sel_num_nav		{ color: #FF5A00;}
A:active.sel_num_nav	{ color: #FF5A00;}
A:visited.sel_num_nav	{ color: #FF5A00;}
A:hover.sel_num_nav		{ color: #2D8F00;}
A:link.sel_num_nav, A:visited.sel_num_nav { text-decoration : none; font-size:11px }

A:link.num_nav		{ color: #797979; font-weight:normal}
A:active.num_nav	{ color: #797979; font-weight:normal}
A:visited.num_nav	{ color: #797979; font-weight:normal}
A:hover.num_nav		{ color: #2D8F00; font-weight:normal}
A:link.num_nav, A:visited.num_nav { text-decoration : none; font-size:11px}

.num_paging{clear:both; width:100%; height:25px; background-color:white; padding:0px; }
.num_paging span{  float:left; text-align:center; padding-top: 0;}
.num_paging span.num{ border-right:solid 1px #CCCCCC; margin:0px 5px 0px 0px; padding:0px 5px; font-weight:bold;text-align:center; height:15px}
.num_paging span.num_1{ border-right:solid 1px #CCCCCC; border-left:solid 1px #C8C8C8; margin:0px 5px 0px 0px; padding:0px 5px; font-weight:bold;text-align:center; height:12px;}
.num_paging span.select{ color:#415D82; }
.num_paging span.last{ border:0px;}
.num_paging span.btn{ margin:1px 2px; color:gray;}

*html div.num_paging{ float:left; }
*html .num_paging span.btn{margin-top:0px; padding-top: 0;}
*html .num_paging span.btn img{margin-top:1px;}
/*-----------------------------*/


#black-bk {
	width: 100%;
	background: black;
}

#front-wrapper {
	width: 960px;
	margin: 0 auto;
	background: #e5e5e5;
	padding-top: 10px;
}

#search {
	border-top: 1px solid #c9c9c9;
	padding: 17px 15px;
}

.search-item {
	width: 140px;
	background: #efefef;
	border: 1px solid #c9c9c9;
	border-radius: 8px;
	margin: 0 2px;
}

#search-button {
	text-align: center;
}

.blue-btn {
	background: ##4386BC;
	background-image: linear-gradient(#2fa6ee, #2280b9);
	border: 0px;
	border-radius: 8px;
	padding: 3px 10px;
	color: white;
}

#server-list-table {
	border-top: 1px solid #c9c9c9;
	margin-top: 10px;
}

#server-list-table thead th {
	text-align: center;
}

#server-list-table tr:hover {
	background: #efefef;
}

.detail-line {
	width: 100%;
	line-height: 50px;
	clear: both;
}

.detail-left {
	float: left;
	width: 40%;
	text-align: right;
}

.detail-right {
	float: left;
	width: 50%;
	padding-left: 10px;
}

.success {
	display: block;
	color: #2fa5ed;
	font-weight: bold;
}

.alert {
	display: block;
	color: #e67a1c;
	font-weight: bold;
}

#import-loading {
	width:20px; 
	height: 20px; 
	margin-left: 10px; 
	display:none;
}

tr.complete {
	background: #dff0d8;
}

tr.invalid {
	background: #fcf8e3;
}